AI Engineer Course/Practical-Tokenizer/my_finetuned_model/checkpoint-125/config.json
AI Engineer Course/Practical-Tokenizer/my_finetuned_model/checkpoint-125/model.safetensors
AI Engineer Course/Practical-Tokenizer/my_finetuned_model/checkpoint-125/rng_state.pth
AI Engineer Course/Practical-Tokenizer/my_finetuned_model/checkpoint-125/scheduler.pt
AI Engineer Course/Practical-Tokenizer/my_finetuned_model/checkpoint-125/trainer_state.json
AI Engineer Course/Practical-Tokenizer/my_finetuned_model/checkpoint-125/training_args.bin
AI Engineer Course/Practical-Tokenizer/my_finetuned_model/checkpoint-125/optimizer.pt
*.db
